<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">
      © Copyright: COMP229 SEC001 - Yuk Sing Cheung (301230209)
    </h6>
  </nav>
</footer>
