<!-- 
File name: bottom_bar.ejs
Studemt Name: Yuk Sing Cheung
Student ID: 301230209
Date: Oct 16,2022 
-->

<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">
      © Copyright: COMP229 SEC001 - Yuk Sing Cheung (301230209)
    </h6>
  </nav>
</footer>
