<!-- 
File name: footer.ejs
Studemt Name: Yuk Sing Cheung
Student ID: 301230209
Date: Sep 30,2022 
-->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->



<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- <script src="/Scripts/app.js"></script> -->

</body>
</html>