<!-- 
File name: footer.ejs
Studemt Name: Yuk Sing Cheung
Student ID: 301230209
Date: Sep 30,2022 
-->

<footer>
  <div>
    <p>© Copyright: COMP229 SEC001 - Yuk Sing Cheung (301230209)</p>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
