<!-- 
File name: header.ejs
Studemt Name: Yuk Sing Cheung
Student ID: 301230209
Date: Sep 30,2022 
-->
<html lang="en">
  <head>
    <title>Yuk Sing Cheung - 301230209</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <!-- <link rel="stylesheet" href="/Content/app.css" /> -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body></body>
</html>
