<!-- 
File name: menu.ejs
Studemt Name: Yuk Sing Cheung
Student ID: 301230209
Date: Sep 30,2022 
-->

<div class="menuDiv">
  <ul class="menuBar">
    <li>
      <img class="menu_icon"src="images/favicon.png"/>
    </li>
    <li>
      <a href="/"><i class="bi bi-house"></i>Home</a>
    </li>
    <li><a href="/about"><i class="bi bi-info-circle"></i>About Me</a></li>
    <li><a href="/project"><i class="bi bi-book"></i>Project</a></li>
    <li><a href="/service"><i class="bi bi-tools"></i></i>Service</a></li>
    <li><a href="/contactme"><i class="bi bi-telephone"></i>Contact</a></li>


    
    <% if(typeof displayName == 'string' && displayName) { %>
      <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
      <li class="nav-item"><a href="/logout" class="nav-link">
        <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
        <li><a href="/contact-list"><i class="bi bi-bookmarks"></i>Business Contact List</a></li>
    <% } else { %>
      <li class="nav-item"><a href="/login" class="nav-link">
        <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
    <% } %>
  </ul>
</div>
<div class="banner">
  <h1>COMP229 SEC001 - Assignment</h1>
  <p><%= title %></p>
</div>
