<!-- 
File name: menu.ejs
Studemt Name: Yuk Sing Cheung
Student ID: 301230209
Date: Sep 30,2022 
-->

<div class="menuDiv">
  <ul class="menuBar">
    <li>
      <img class="menu_icon"src="images/favicon.png"/>
    </li>
    <li>
      <a href="/"><i class="bi bi-house"></i>Home</a>
    </li>
    <li><a href="/about"><i class="bi bi-info-circle"></i>About Me</a></li>
    <li><a href="/project"><i class="bi bi-book"></i>Project</a></li>
    <li><a href="/service"><i class="bi bi-tools"></i></i>Service</a></li>
    <li><a href="/contact"><i class="bi bi-telephone"></i>Contact</a></li>
  </ul>
</div>
<div class="banner">
  <h1>COMP229 SEC001 - Assignment 2</h1>
  <p><%= title %></p>
</div>
