<!-- 
File name: user.ejs
Studemt Name: Yuk Sing Cheung
Student ID: 301230209
Date: Sep 30,2022 
-->

<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>

  <body>
    <% include partials/menu %>

    <!-- Main Content -->
    <main class="container">
      <div class="divLogin">
        <div>
          <h2><%= title %></h2>
          <br />
          <table class="tableUser">
            <tr>
              <th>Username</th>
              <th>Password</th>
              <th>Email</th>
            </tr>

            <% for(let count = 0; count < UserList.length; count++) { %>
            <tr>
              <td><%= UserList[count].username %></td>
              <td><%= UserList[count].password %></td>
              <td><%= UserList[count].email %></td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </main>

    <% include partials/footer %>
  </body>
</html>
